<%= form_for @customer do |f| %>
<table>
	<tr>
		<td class="alignRight">
			Customer Name:
		</td>
		<td>
			<%= f.text_field :customername %>
		</td>
	</tr>
	<tr class="alignCenter">
		<td colspan="2">
			<%= f.submit %>
		<td>
	</tr>
</table>
<% end %>